<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/fav_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav_32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/fav_96.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/fav_96.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }} | Lucián Blažek</title>
    <script src="/build/dnd.bundle.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
