{% extends 'layout/clean.html.twig' %}
{% set pageTitle = 'Lucian DOS' %}
{% block head %}
    <script src="/build/dos.bundle.js"></script>
{% endblock %}
{% block content %}
    <div class="dos" data-terminal>
        <div class="dos__caret" data-caret></div>
    </div>
{% endblock %}
