<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Time</th>
        <th scope="col">School</th>
        <th scope="col">Concentration</th>
        <th scope="col">Range</th>
        <th scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Aid</th>
        <td>2</td>
        <td>Action</td>
        <td>Abjuration</td>
        <td></td>
        <td>30 feet</td>
        <td>PHB</td>
    </tr>
    </tbody>
</table>
