<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }} | Lucián Blažek</title>
    <script src="/build/main.bundle.js"></script>
    <script src="/build/bootstrap.bundle.js"></script>
</head>
<body>
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
