@import "bootstrap/scss/variables";

$html-font-size: 16px;

//sidebar
$sidebar-width: 75px;

//colors
$c-text-light-heading: #f6f6f6;
$c-text-light: #eeeeee;
$c-text-light-hover: #fff;

$bg-dark: $dark;
$bg-dark-upper: #33383D;
